<template>
  <div>
    <b-list-group v-if="type === '1'" :class="pagination && pagination.page < pagination.pages ? 'mb-5' : ''">
      <b-list-group-item v-for="recipe in items" :key="recipe.id" class="recipe-list-item border-top-0 border-right-0 border-left-0 ">
        <a :href="'/recipes/view/' + recipe.slug">
          <div class="row">
            <div v-if="hasPhoto(recipe)" class="col-4">
              <div :style="'background-image: url(' + recipe.photos[0].url + ');'" class="recipe-list-item-image position-relative">
                <small class="color-pink position-absolute position-bottom position-right"><font-awesome-icon icon="heart" /> {{ recipe.favorites}}</small>
              </div>
            </div>
            <div :class="hasPhoto(recipe) ? 'col-8' : 'col-12'">
              <div class="row">
                <div class="col-12">
                  <b>{{ recipe.name }} <span class="badge badge-dark badge-thermomix badge-pill" v-if="recipe.isThermomix">t</span></b>
                </div>
                <div v-if="recipe.categories" class="col-12">
                  <small v-if="!hasPhoto(recipe)" class="color-pink mr-2"><font-awesome-icon icon="heart" /> {{ recipe.favorites}}</small>
                  <span class="badge badge-dark badge-category mr-2" v-for="category in recipe.categories" :key="category.id">{{ category.name}}</span>
                </div>
              </div>
              <div class="row mb-1" v-if="(sessionUser && recipe.user.id !== sessionUser.id) || !sessionUser">
                <div class="col-12">
                  <a :href="'/users/' + recipe.user.id" class="badge badge-dark"><font-awesome-icon icon="user" /> {{ recipe.user.name }}</a>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <a :href="'/recipes/edit/' + recipe.id" class="btn btn-outline-success btn-sm btn-block" v-if="sessionUser && recipe.user.id === sessionUser.id">Editar</a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </b-list-group-item>
    </b-list-group>
    <div class="container-fluid" v-else-if="type === '2'" :class="pagination && pagination.page < pagination.pages ? 'mb-5' : ''">
      <div class="row">
        <div class="col-6 col-xl-3 col-lg-4 col-md-4 recipe-list-column recipe-list-item mb-1" v-for="recipe in items" :key="recipe.id">
          <a :href="'/recipes/view/' + recipe.slug">
            <div :style="hasPhoto(recipe) ? 'background-image: url(' + recipe.photos[0].url + ');' : 'background-color:white'" class="recipe-list-item-image position-relative mb-1">
              <small class="color-pink position-absolute position-bottom position-right pr-2"><font-awesome-icon icon="heart" /> {{ recipe.favorites}}</small>
            </div>
            <div>
              <span class="d-block recipe-name">{{ recipe.name }}</span>
              <small class="text-black-50 d-block"><font-awesome-icon icon="user" /> {{ recipe.user.name }}</small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div v-if="pagination && pagination.page < pagination.pages" class="position-fixed fixed-bottom">
      <b-button type="button" class="border-radius-0" block variant="primary" @click="more">Més receptes</b-button>
    </div>
  </div>
</template>

<script>
import Api from '@/plugins/Api'
export default {
  props: ['items', 'user', 'session-user', 'pagination', 'filter', 'user-id', 'type'],
  mixins: [
    Api
  ],
  methods: {
    hasPhoto (recipe) {
      return recipe.photos && recipe.photos.length
    },
    more () {
      this.filter._pagination.page = this.pagination.page + 1
      this.recipes(this.userId || null, this.filter)
    }
  }
}
</script>
