<template>
  <div>
    <p class="p-2 m-0 font-weight-bold text-uppercase">Les teves receptes preferides</p>
    <recipes-list type="2" :items="items" :user="user" :sessionUser="sessionUser"></recipes-list>
    <div v-if="pagination && pagination.total === 0" class="alert alert-info mt-3"><font-awesome-icon icon="info-circle" /> Encara no tens cap recepta preferida</div>
  </div>
</template>

<script>
import Api from '@/plugins/Api'
import Components from '@/plugins/components'
export default {
  mixins: [
    Api,
    Components
  ],
  data () {
    return {
      sessionUser: null,
      user: null,
      items: null
    }
  },
  created () {
    this.sessionUser = this.user = this.$store.getters.user
    this.items = this.user.favorites
  }
}
</script>
