@import "variables";
$list-group-border-radius : 0;
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";

@import "~bootstrap-vue/src/index";

.navbar-text{
  margin-right: 0.5rem; 
  margin-left: 0.5rem;
}

.user-menu{
  margin-left: 1rem;
}

.date-selected {
  background-color: #9cabd6;
}

.bg-title{
  background-color: #eee;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-pink, .bg-pink {
  color: #fff;
  background-color: #ff6cbb;
  border-color: #ff6cbb;
}
.color-pink {
  color:  #ff6cbb;
}

.btn.btn-xs {
  padding: 0.2rem 0.3rem;
  font-size: 0.7rem;
}

.badge-gray {
  background-color: #848484;
}

.border-radius-0{
  border-radius: 0px !important;
}

#recipe-view-image {
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  h1 {
    font-size: 1.75rem;
    margin-top: 200px;
    background-color: rgba(255,255,255,0.5);

    @include media-breakpoint-down(xs) {
      margin-top: 75vw;
    }
  }


  @include media-breakpoint-down(xs) {
    min-height: 100vw;
    margin: 0px !important;
  }
}

.list-group.remove-last-border{
  .list-group-item:last-child {
    border-bottom: 0 !important;
  }
}

.badge-thermomix {
  background-color: #009c3b;
}

.list-group-item.recipe-list-item > a {
  color: $gray-900;
  text-decoration: none;
  
  .recipe-list-item-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
  }
}

.recipe-list-column.recipe-list-item {
  min-height: 300px;
  @include media-breakpoint-down(xs) {
    min-height: calc(((100vw / 2) - 15px + 50px));
  }
  
  & > a {
    color: $gray-900;
    text-decoration: none;

    .recipe-list-item-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5%;
      height: 300px;
      
      @include media-breakpoint-down(xs) {
        height: calc((100vw / 2) - 15px);  
      }
    }
  }

  &:nth-child(odd) {
    padding-right: 10px !important;
  }

  &:nth-child(even) {
    padding-left: 10px !important;
  }
  
  .recipe-name{
    font-size: 0.90rem;
    line-height: 1.3;
  }
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  border: 0 !important;
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.checkbox-categories, .checkbox-thermomix {
  label {
    font-size: 1rem;
    &.custom-control-label{
      font-size: 0.85rem;

      &::before, &::after {
        top: 0px;
      }
    }
  }
  .custom-control {
    width: 50%;
    float: left;
  }
}

.checkbox-thermomix{
  .custom-control {
    width: 100%;
    float: none;
  }
}

.badge-category {
  background-color: #797979;
}

.position-top{
  top: 0px;
}

.position-bottom{
  bottom: 0px;
}

.position-right {
  right: 0px;
}