<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Recipe Book</title>
  </head>
  <body class="bg-light">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBRw5VJhIZfHOImWQPDJPCLT9HDs0KCi1o",
            authDomain: "recipebook-d47bd.firebaseapp.com",
            databaseURL: "https://recipebook-d47bd.firebaseio.com",
            projectId: "recipebook-d47bd",
            storageBucket: "recipebook-d47bd.appspot.com",
            messagingSenderId: "788213687485",
            appId: "1:788213687485:web:5d0ba9f27c6ed2f79743d4",
            measurementId: "G-YW5VXJNBDN"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
  </body>
</html>
