<template>
  <div v-if="item">
    <b-card no-body class="border-0" header-class="border-0">
      <b-tabs pills card>
        <b-tab title="Informació general" active class="border-0">
          <form @submit.prevent="save" v-if="(this.item.id && this.id) || !this.id">
            <div class="row">
              <div class="col-12 mb-4">
                  <b-button v-if="item.slug" type="button" block variant="primary" size="sm" :href="'/recipes/view/' + item.slug">Veure recepta</b-button>
              </div>
              <div class="col-12">
                <img :src="photo.url" v-for="photo in item.photos" :key="photo.id" class="mw-100"/>
              </div>
              <div class="col-12">
                <b-form-group label-size="sm" label="Nom" label-for="input-sm" label-class="mb-0">
                  <b-form-input type="text" v-model="item.name" size="sm"></b-form-input>
                </b-form-group>
              </div>
              <div class="col-12">
                <b-form-group label-size="sm" label="Descripció (opcional)" label-for="input-sm" label-class="mb-0">
                  <b-form-textarea v-model="item.description" size="sm"></b-form-textarea>
                </b-form-group>
              </div>
              <div class="col-12 mb-1" v-if="(this.item.id && this.id)">
                <b-form-file
                  size="sm"
                  v-model="photo"
                  accept="image/*"
                  placeholder="Foto"
                  drop-placeholder="Foto"
                  @input="uploadPhoto"
                ></b-form-file>
              </div>
              <div class="col-12 checkbox-categories">
                <b-form-group label-size="sm" label="Categories" label-for="input-sm" label-class="mb-0">
                  <checkbox-categories
                    v-model="item.categoriesId"
                    :selected="item.categoriesId"
                    :eventChange="events.edit.categories"
                    :object="this.item"
                    :select="!this.id">
                  </checkbox-categories>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group label-size="sm" label="Temps de preparació" label-for="input-sm" label-class="mb-0">
                  <b-input-group append="min" size="sm">
                    <b-form-input type="text" v-model="item.preparationTime" size="sm"></b-form-input>
                  </b-input-group>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group label-size="sm" label="Temps de cocció" label-for="input-sm" label-class="mb-0">
                  <b-input-group append="min" size="sm">
                    <b-form-input type="text" v-model="item.cookingTime" size="sm"></b-form-input>
                  </b-input-group>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group label-size="sm" label="Racions" label-for="input-sm" label-class="mb-0">
                  <b-input-group append="persones" size="sm">
                    <b-form-input type="text" v-model="item.serves" size="sm"></b-form-input>
                  </b-input-group>
                </b-form-group>
              </div>
              <div class="col-12">
                <b-form-checkbox
                  v-model="item.isThermomix"
                  value="true"
                  unchecked-value="false">
                  És una recepta amb Thermomix?
                </b-form-checkbox>
              </div>
              <div class="col-12 mt-2" v-if="item.isThermomix === 'true' || item.isThermomix === true">
                <b-form-group label="Quins models?" label-class="mb-0 pb-0">
                  <checkbox-thermomix-models
                    v-model="item.thermomixModelsId"
                    :selected="item.thermomixModelsId"
                    :eventChange="events.edit.thermomixModels"
                    :object="this.item"
                    :select="!this.id">
                  </checkbox-thermomix-models>
                </b-form-group>
              </div>
            </div>
            <b-button type="submit" variant="success" block>Guardar recepta</b-button>
          </form>
        </b-tab>
        <b-tab v-if="this.id" title="Ingredients">
          <b-button v-b-modal.modal-ingredient size="sm">Afegir ingredient</b-button>
          <b-modal id="modal-ingredient" hide-footer title="Afegir un ingredient">
            <form @submit.prevent="searchIngredient(1)">
              <div class="row">
                <div class="col-12">
                  <b-input-group>
                    <b-form-input type="text" v-model="filter.ingredient.name" size="sm" placeholder="Busca producte..."></b-form-input>
                    <b-input-group-append>
                      <b-button variant="outline-success" size="sm" type="submit">Buscar</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-2" v-if="results.ingredients.pagination">
                  <b-list-group>
                    <b-list-group-item v-for="ing in results.ingredients.items" :key="ing.id" class="p-2">
                      <b-button type="button" class="p-0 text-left" variant="link" @click="selectIngredient(ing)"><small>{{ ing.name }}</small></b-button>
                    </b-list-group-item>
                  </b-list-group>
                </div>
                <div class="col-12 mt-2" v-else>
                  <small class="alert alert-info w-100 d-block">No s'han trobat productes.</small>
                </div>
                <div class="col-12 mt-2" v-if="results.ingredients.pagination">
                  <b-button v-if="results.ingredients.pagination.page > 1" variant="secondary" size="sm" class="float-left"
                            @click="searchIngredient(results.ingredients.pagination.page-1)">&lt;</b-button>
                  <b-button v-if="results.ingredients.pagination.page < results.ingredients.pagination.pages" variant="secondary" size="sm" class="float-right"
                            @click="searchIngredient(results.ingredients.pagination.page+1)">&gt;</b-button>
                </div>
              </div>
            </form>
          </b-modal>
          <div class="row mt-4 mb-4" v-if="ingredient.ingredient">
            <div class="col-12">
              <form @submit.prevent="addIngredient" class="row">
                <div class="col-12">
                  <b>{{ ingredient.ingredient.name }}</b>
                </div>
                <div class="col-6">
                  <b-form-group label-size="sm" label="Quantitat" label-for="input-sm" label-class="mb-0">
                    <b-form-input type="text" v-model="ingredient.value" size="sm"></b-form-input>
                  </b-form-group>
                </div>
                <div class="col-6">
                  <b-form-group label-size="sm" label="Mesura" label-for="input-sm" label-class="mb-0">
                    <dropdown-units :eventChange="events.edit.unit" v-model="ingredient.unit" :object="ingredient"></dropdown-units>
                  </b-form-group>
                </div>
                <div class="col-12">
                  <b-button type="submit" variant="success" block>Guardar ingredient</b-button>
                </div>
              </form>
            </div>
          </div>
          <h4 v-if="item.ingredients && item.ingredients.length" class="mt-4">Ingredients</h4>
          <b-list-group>
            <b-list-group-item v-for="ing in item.ingredients" :key="ing.id">
              <div class="row">
                <div v-if="!ing.editable" class="col-12">
                  <b>{{ ing.ingredient.name }}</b><small class="d-block">{{ ing.value }} {{ ing.unit.name }}</small>
                </div>
                <div v-if="ing.editable" class="col-12">
                  <form @submit.prevent="updateIngredient(ing)">
                    <div class="row">
                      <div class="col-12">
                        <b>{{ ing.ingredient.name }}</b>
                      </div>
                      <div class="col-6">
                        <b-form-group label-size="sm" label="Quantitat" label-for="input-sm" label-class="mb-0">
                          <b-form-input type="text" v-model="ing.value" size="sm"></b-form-input>
                        </b-form-group>
                      </div>
                      <div class="col-6">
                        <b-form-group label-size="sm" label="Mesura" label-for="input-sm" label-class="mb-0">
                          <dropdown-units :eventChange="events.edit.unit" v-model="ing.unit" :selected="ing.unit" :object="ing"></dropdown-units>
                        </b-form-group>
                      </div>
                      <div class="col-12">
                        <b-button type="submit" variant="outline-success" size="sm" block>Guardar ingredient</b-button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 mt-3">
                  <div class="row">
                    <div class="col-6">
                      <b-button v-if="!ingredient.editable" type="button" block variant="outline-success" size="sm" @click="editable(ing)">Editar</b-button>
                      <b-button v-if="ingredient.editable" type="button" block variant="outline-dark" size="sm" @click="notEditable(ing)">Tancar</b-button>
                    </div>
                    <div class="col-6">
                      <b-button type="button" block variant="outline-danger" size="sm" @click="deleteIngredient(ing)">Borrar</b-button>
                    </div>
                  </div>
                </div>
              </div>
            </b-list-group-item>
          </b-list-group>
        </b-tab>
        <b-tab v-if="this.id" title="Passos">
          <form @submit.prevent="addStep">
            <b-button @click="addingStep = !addingStep" size="sm">Afegir pas</b-button>
            <div class="row mt-2 mb-4" v-if="addingStep">
              <div class="col-12">
                <b-form-group label-size="sm" label="Descripció" label-for="input-sm" label-class="mb-0">
                  <b-form-textarea v-model="step.description" size="sm"></b-form-textarea>
                </b-form-group>
              </div>
              <div class="col-12">
                <b-button type="submit" variant="success" block>Guardar pas</b-button>
              </div>
            </div>
          </form>
          <h4 v-if="item.steps && item.steps.length" class="mt-4 mb-0">Passos</h4>
          <small v-if="item.steps && item.steps.length" class="text-secondary mb-2 d-block">Mantén premut un pas per canviar l'ordre</small>
          <draggable v-model="item.steps" @end="updateSteps">
            <transition-group class="list-group">
              <div v-for="step in item.steps" :key="step.id" class="list-group-item" :class="step.editable ? 'bg-light' : ''">
                <div class="row">
                  <div v-if="!step.editable" class="col-12 cursor-move">
                    <span class="badge badge-secondary badge-pill mr-2">{{ step.number }}</span>
                    <b v-if="step.name">{{ step.name }}</b><small :class="step.name ? 'd-block' : ''">{{ step.description }}</small>
                  </div>
                  <div v-if="step.editable" class="col-12">
                    <span class="badge badge-secondary badge-pill mr-2">{{ step.number }}</span>
                    <form @submit.prevent="updateStep(step)">
                      <div class="row">
                        <div class="col-12">
                          <b-form-group label-size="sm" label="Descripció" label-for="input-sm" label-class="mb-0">
                            <b-form-textarea v-model="step.description" size="sm"></b-form-textarea>
                          </b-form-group>
                        </div>
                        <div class="col-12">
                          <b-button type="submit" variant="outline-success" size="sm" block>Guardar canvis</b-button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="row">
                      <div class="col-6">
                        <b-button v-if="!step.editable" type="button" block variant="outline-success" size="sm" @click="editable(step)">Editar</b-button>
                        <b-button v-if="step.editable" type="button" block variant="outline-dark" size="sm" @click="notEditable(step)">Tancar</b-button>
                      </div>
                      <div class="col-6">
                        <b-button type="button" block variant="outline-danger" size="sm" @click="deleteStep(step)">Borrar</b-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </transition-group>
          </draggable>
        </b-tab>
      </b-tabs>
      <div class="container-fluid" v-if="item.id">
        <div class="row">
          <div class="col-12 mt-3 mb-3">
            <b-button type="button" block variant="danger" size="sm" @click="deleteRecipe(item)">Borrar recepta</b-button>
          </div>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
import Api from '@/plugins/Api'
import Components from '@/plugins/components'
import EventBus from '@/plugins/event-bus'
import router from '@/router'
export default {
  mixins: [
    Api,
    Components
  ],
  data () {
    return {
      id: null,
      item: {
        steps: [],
        categoriesId: []
      },
      photo: null,
      ingredient: {
        ingredient: null
      },
      step: {},
      filter: {
        ingredient: {
          name: null,
          _pagination: {
            page: 1,
            itemsPerPage: 10
          }
        }
      },
      results: {
        ingredients: {
          items: [],
          pagination: {}
        }
      },
      addingStep: false,
      refreshSteps: false
    }
  },
  created () {
    this.id = this.$route.params.id

    if (this.id) {
      this.recipe(this.id)
    }
  },
  mounted () {
    EventBus.$on(this.events.get.categories, items => {
      const categories = []
      items.items.forEach(function (obj, index) {
        categories.push({
          value: obj.id,
          text: obj.name
        })
      })

      this.selects.categories = categories
    })

    EventBus.$on(this.events.get.recipe, (recipe) => {
      this.item = recipe
      if (this.refreshSteps) {
        this.refreshSteps = false
        this.updateSteps()
      }
    })

    EventBus.$on(this.events.get.ingredients, (ingredients) => {
      this.results.ingredients.items = ingredients.items
      this.results.ingredients.pagination = ingredients.pagination
    })

    EventBus.$on(this.events.edit.categories, (categories, object) => {
      object.categoriesId = categories
    })

    EventBus.$on(this.events.edit.thermomixModels, (thermomixModels, object) => {
      object.thermomixModelsId = thermomixModels
    })

    EventBus.$on(this.events.edit.unit, (unit, object) => {
      object.unitId = unit
    })

    EventBus.$on(this.events.edit.ingredient, (ingredient, object) => {
      this.ingredient.ingredient = ingredient
      this.ingredient.ingredientId = ingredient.id
    })

    EventBus.$on(this.events.reload.recipe, (data) => {
      this.recipe(data.recipe.id)
    })

    EventBus.$on(this.events.save.ingredient, (data) => {
      this.filter.ingredient.name = null
      this.ingredient = {
        ingredient: null
      }
      this.recipe(data.recipe.id)
    })

    EventBus.$on(this.events.save.step, (data) => {
      this.step.description = null
      this.recipe(data.recipe.id)
    })

    EventBus.$on(this.events.upload.photo, (data) => {
      this.recipe(this.item.id)
    })

    EventBus.$on(this.events.delete.recipe, data => {
      router.push('/')
    })

    EventBus.$on(this.events.delete.ingredient, data => {
      this.recipe(this.item.id)
    })

    EventBus.$on(this.events.delete.step, data => {
      this.refreshSteps = true
      this.recipe(this.item.id)
    })
  },
  methods: {
    editable (obj) {
      this.$set(obj, 'editable', true)
    },

    notEditable (obj) {
      this.$set(obj, 'editable', false)
    },

    save () {
      this.saveRecipe(this.item)
    },

    uploadPhoto () {
      this.savePhoto(this.photo, this.item)
    },

    searchIngredient (page) {
      this.filter.ingredient._pagination.page = page
      this.ingredients(this.filter.ingredient)
    },

    selectIngredient (item) {
      this.$bvModal.hide('modal-ingredient')
      this.filter.ingredient.name = null
      this.results.ingredients = {
        items: [],
        pagination: {}
      }
      EventBus.$emit(this.events.edit.ingredient, item)
    },

    addIngredient () {
      this.saveIngredient(this.item, this.ingredient)
    },

    updateIngredient (ingredient) {
      this.saveIngredient(this.item, ingredient)
    },

    addStep () {
      this.step.number = this.item.steps ? this.item.steps.length + 1 : 1
      this.saveStep(this.item, this.step)
    },

    updateStep (step) {
      this.saveStep(this.item, step)
    },

    updateSteps () {
      this.updatePositionSteps(this.item, this.item.steps)
    },

    deleteRecipe () {
      this.delete('/v1/users/profile/recipes/delete/' + this.item.id, this.item, {
        question: 'Estàs segur d\'eliminar aquesta recepta? Els canvis no es podran desfer.',
        deleted: 'Recepta eliminada correctament'
      }, this.events.delete.recipe)
    },

    deleteIngredient (ingredient) {
      this.delete('/v1/users/profile/recipes/' + this.item.id + '/ingredients/delete/' + ingredient.id, ingredient, {
        question: 'Estàs segur d\'eliminar aquest ingredient? Els canvis no es podran desfer.',
        deleted: 'Ingredient eliminat correctament'
      }, this.events.delete.ingredient)
    },

    deleteStep (step) {
      this.delete('/v1/users/profile/recipes/' + this.item.id + '/steps/delete/' + step.id, step, {
        question: 'Estàs segur d\'eliminar aquest pas? Els canvis no es podran desfer.',
        deleted: 'Pas eliminat correctament'
      }, this.events.delete.step)
    }
  }
}
</script>

<style type="text/css">
  .cursor-move {
    cursor: move;
  }
</style>
