<template>
  <div>
    <p class="p-2 m-0 font-weight-bold text-uppercase" v-if="sessionUser">Les teves receptes <span v-if="pagination && pagination.total" class="badge badge-dark badge-pill">{{ pagination.total }}</span></p>
    <p v-else class="p-2 m-0 font-weight-bold text-uppercase">Receptes  <span v-if="pagination && pagination.total" class="badge badge-dark badge-pill">{{ pagination.total }}</span></p>
    <recipes-list type="2" :items="items" :user="user" :sessionUser="sessionUser" :pagination="pagination" :filter="filter"></recipes-list>
    <div v-if="pagination && pagination.total === 0" class="alert alert-info mt-3"><font-awesome-icon icon="info-circle" /> Encara no tens cap recepta.</div>
  </div>
</template>

<script>
import Api from '@/plugins/Api'
import Components from '@/plugins/components'
import EventBus from '@/plugins/event-bus'
export default {
  mixins: [
    Api,
    Components
  ],
  data () {
    return {
      sessionUser: null,
      user: null,
      items: [],
      pagination: {},
      filter: {
        _pagination: {
          itemsPerPage: 6,
          page: 1
        }
      }
    }
  },
  created () {
    this.sessionUser = this.user = this.$store.getters.user
    if (!this.sessionUser) {
      this.filter.searching = true
    }

    this.recipes(null, this.filter)
  },
  mounted () {
    EventBus.$on(this.events.get.recipes, data => {
      this.items = this.items.concat(data.items)
      this.pagination = data.pagination
      this.scrollToEnd()
    })
  }
}
</script>
