<template>
    <div>
      <b-card class="border-0 recipe-searcher" header-class="border-0" title="Buscador de receptes">
        <form @submit.prevent="search">
          <div class="row">
            <div class="col-12">
              <b-form-input type="text" v-model="filter.name" size="sm" placeholder="Nom de la recepta..."></b-form-input>
            </div>
            <div class="col-12 mt-3 checkbox-categories">
              <b-form-group label-size="sm" label="Categories" label-for="input-sm" label-class="mb-0">
                <checkbox-categories
                  v-model="filter.categoriesId"
                  :selected="filter.categoriesId"
                  :eventChange="events.edit.categories"
                  :object="this.filter">
                </checkbox-categories>
              </b-form-group>
            </div>
            <div class="col-12 checkbox-thermomix">
              <b-form-checkbox
                v-model="filter.isThermomix"
                value="true"
                unchecked-value="false">
                És una recepta amb Thermomix? <span class="badge badge-dark badge-thermomix badge-pill">t</span>
              </b-form-checkbox>
            </div>
            <div class="col-12 mt-3">
              <b-button type="submit" variant="success" size="sm" block>Buscar</b-button>
            </div>
          </div>
        </form>
      </b-card>
      <div class="mt-2">
        <h3 class="pl-2 pr-2" v-if="pagination && pagination.total">{{ pagination.total }} receptes</h3>
        <recipes-list type="2" :items="items" :user="user" :sessionUser="sessionUser" :pagination="pagination" :filter="filter"></recipes-list>
        <div v-if="pagination && pagination.total === 0" class="alert alert-info mt-3"><font-awesome-icon icon="info-circle" /> No s'ha trobat cap recepta.</div>
      </div>
    </div>
</template>
<script>
import Api from '@/plugins/Api'
import Components from '@/plugins/components'
import EventBus from '@/plugins/event-bus'
export default {
  mixins: [
    Api,
    Components
  ],

  data () {
    return {
      sessionUser: null,
      user: null,
      items: [],
      pagination: {},
      filter: {
        searching: true,
        name: null,
        categoriesId: [],
        _pagination: {
          itemsPerPage: 6,
          page: 1
        }
      }
    }
  },

  created () {
    this.sessionUser = this.user = this.$store.getters.user
  },

  mounted () {
    EventBus.$on(this.events.edit.categories, (categories, object) => {
      object.categoriesId = categories
    })

    EventBus.$on(this.events.get.recipes, data => {
      this.items = this.items.concat(data.items)
      this.pagination = data.pagination
      this.scrollToEnd()
    })
  },

  methods: {
    search () {
      this.items = []
      this.pagination = {}
      this.recipes(null, this.filter)
    }
  }
}
</script>
