<template>
  <div>

    <div class="container mt-3 mb-5" v-if="item">
      <div class="row">
        <div class="col-12 m-2 p-0 position-relative" :id="hasPhoto() ? 'recipe-view-image' : ''" :style="hasPhoto() ? 'background-image: url(' + item.photos[0].url + ');' : ''">
          <span class="color-pink pr-2 pt-2" :class="hasPhoto() ? 'position-absolute position-top position-right': ''"><font-awesome-icon icon="heart" /> {{ item.favorites}}</span>
          <h1 class="p-2">{{ item.name }} <small v-if="item.isThermomix" class="badge badge-secondary badge-pill badge-thermomix">t</small></h1>
          <span v-if="user && favorite" class="badge bg-pink" @click="deleteFavorite"><font-awesome-icon icon="heart" /> Preferida</span>
          <b-button v-else-if="user" type="button" @click="addFavorite" variant="pink" size="sm" block><font-awesome-icon icon="heart" /> Guardar recepta</b-button>
        </div>
        <div class="col-12 pl-2 pr-2 mb-4">
          <a v-if="(user && item.user.id !== user.id) || !user" :href="'/users/' + item.user.id" class="badge badge-dark"><font-awesome-icon icon="user" /> {{ item.user.name }}</a>
          <br><a href="/register" v-if="!user" class="btn btn-primary btn-xs">Registra't per guardar i crear les teves receptes</a>
        </div>
      </div>
      <div v-if="item.categories" class="row row-no-padding mb-2">
        <div class="col-12">
          <div class="pl-2 pr-2">
            <span class="badge badge-dark badge-category mr-2" v-for="category in item.categories" :key="category.id">{{ category.name}}</span>
          </div>
        </div>
      </div>
      <div class="row row-no-padding">
        <div class="col-12">
          <div class="pr-2 pl-2">
            {{ item.description }}
          </div>
        </div>
      </div>
      <div class="row mt-3 row-no-padding">
        <div class="col-12">
          <h4 class="pl-2 pr-2">Ingredients</h4>
          <b-list-group class="remove-last-border">
            <b-list-group-item v-for="ing in item.ingredients" :key="ing.id" class="p-2 border-left-0 border-right-0 border-top-0">
              <span>{{ ing.ingredient.name }}</span>
              <small class="ml-2">{{ ing.value }} {{ ing.unit.name }}</small>
            </b-list-group-item>
          </b-list-group>
        </div>
      </div>
      <div class="row mt-3 row-no-padding">
        <div class="col-12">
          <h4 class="pl-2 pr-2">Preparació</h4>
        </div>
      </div>
      <div class="row bg-white">
        <div class="col-4 text-center pt-3 pb-3 border-right">
            <font-awesome-icon icon="hourglass-half" style="font-size: 1.2rem" class="text-black-50 mb-1" /><br>
            <span class="d-block" style="line-height: 1.2 !important; font-size: 0.9rem !important;">Temps de preparació</span>
            <small class="d-block mt-2">{{ item.preparationTime }} min</small>
        </div>
        <div class="col-4 text-center pt-3 pb-3 border-right">
          <font-awesome-icon icon="hourglass-half" style="font-size: 1.2rem" class="text-black-50 mb-1" /><br>
          <span class="d-block" style="line-height: 1.2 !important; font-size: 0.9rem !important;">Temps de cocció</span>
          <small class="d-block mt-2">{{ item.cookingTime }} min</small>
        </div>
        <div class="col-4 text-center pt-3 pb-3">
          <font-awesome-icon icon="users" style="font-size: 1.2rem" class="text-black-50 mb-1" /><br>
          <span class="d-block" style="line-height: 1.2 !important; font-size: 0.9rem !important;">Racions</span>
          <small class="d-block mt-2">{{ item.serves }} persones</small>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 mb-2" v-for="step in item.steps" :key="step.id">
          <small class="badge badge-secondary badge-pill mr-2">{{ step.number }}</small>
          <span v-if="step.name">{{ step.name }}</span>
          <small :class="step.name ? 'd-block' : 'd-inline'">{{ step.description }}</small>
        </div>
      </div>
      <div class="row mt-3 row-no-padding" v-if="item.isThermomix">
        <div class="col-12">
          <h4 class="pl-2 pr-2">Models de Thermomix <small v-if="item.isThermomix" class="badge badge-secondary badge-pill badge-thermomix">t</small></h4>
          <b-list-group class="remove-last-border">
            <b-list-group-item v-for="therm in item.thermomixModels" :key="therm.id" class="p-2 border-left-0 border-right-0 border-top-0">
              <span>{{ therm.name }}</span>
            </b-list-group-item>
          </b-list-group>
        </div>
      </div>
      <div v-if="user && item.user.id === user.id" class="position-fixed fixed-bottom">
        <b-button type="button" class="border-radius-0" block variant="success" :href="'/recipes/edit/' + item.id">Editar recepta</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import Api from '@/plugins/Api'
import EventBus from '@/plugins/event-bus'
export default {
  mixins: [
    Api
  ],
  data () {
    return {
      id: null,
      item: null,
      user: {}
    }
  },
  created () {
    this.slug = this.$route.params.slug
    this.user = this.$store.getters.user

    if (this.slug) {
      this.recipeSlug(this.slug)
    }
  },
  watch: {
    item: {
      handler: (item) => {
        if (item) {
          document.title = 'Recipe Book | ' + item.name
        }
      },
      immediate: true
    }
  },
  mounted () {
    EventBus.$on(this.events.get.user, (user) => {
      this.user = user
      this.favorite = this.isFavorite()
    })

    EventBus.$on(this.events.get.recipe, (recipe) => {
      this.item = recipe
      this.favorite = this.isFavorite()
    })

    EventBus.$on(this.events.reload.user, (data) => {
      this.$store.dispatch('refresh')

      this.me()
    })
  },
  methods: {
    hasPhoto () {
      return this.item.photos && this.item.photos.length
    },

    isFavorite () {
      if (!this.user) {
        return false
      }

      const item = this.item
      let found = false
      this.user.favorites.forEach(function (favorite) {
        if (favorite.id === item.id) {
          found = true
        }
      })
      return found
    },

    addFavorite () {
      this.saveFavorite(this.item)
    },

    deleteFavorite () {
      this.delete('/v1/users/profile/favorites/remove/' + this.item.id, {}, null, this.events.reload.user)
    }
  }
}
</script>
