<template>
  <div class="home container">
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-sm-12">
        <div id="login" class="card bg-light mt-5 border-0">
          <div class="card-body p-5">
            <h3 class="card-title text-center mb-5">Recipe Book</h3>
            <div v-if="isLoginStatus() === 'error'" class="alert alert-danger" role="alert">Email o contrasenya incorrectes</div>
            <form class="login" @submit.prevent="login">
              <div class="form-group">
                <input type="email" class="form-control" required v-model="form.email" placeholder="Email" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" required v-model="form.password" placeholder="Contrasenya" />
              </div>
              <button type="submit" class="btn btn-success btn-block">Entrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    isLoginStatus () {
      return this.$store.getters.authStatus
    },

    login () {
      const email = this.form.email
      const password = this.form.password

      this.$store.dispatch('login', { email, password })
        .catch(err => console.log(err))
    }
  }
}
</script>
