<template>
  <div class="home container">
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-sm-12">
        <div id="register" class="card bg-light mt-5 border-0">
          <div class="card-body p-5">
            <h3 class="card-title text-center mb-5">Recipe Book<small class="d-block text-black-50">Registra't</small></h3>
            <form class="register" @submit.prevent="submit">
              <div class="form-group">
                <input type="text" class="form-control" required v-model="form.name" placeholder="Nom" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" required v-model="form.email" placeholder="Email" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" required v-model="form.password" placeholder="Contrasenya" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" required v-model="form.password_confirmation" placeholder="Repetir contrasenya" />
              </div>
              <button type="submit" class="btn btn-success btn-block">Registra'm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Api from '@/plugins/Api'

export default {
  mixins: [
    Api
  ],
  data () {
    return {
      form: {
        name: null,
        email: null,
        passowrd: null
      }
    }
  },
  methods: {
    submit () {
      this.register(this.form)
    }
  }
}
</script>
