<template>
  <div>{{doc}}</div>
</template>
<script>
import Api from '@/plugins/Api'
import EventBus from '@/plugins/event-bus'
export default {
  mixins: [
    Api
  ],
  data () {
    return {
      data: {
        recipes: null,
        users: null
      },
      total: 0,
      doc: null
    }
  },

  created () {
    this.recipes(null, {
      searching: true,
      _pagination: {
        page: 1,
        itemsPerPage: 999999
      }
    })

    this.users({
      searching: true,
      _pagination: {
        page: 1,
        itemsPerPage: 999999
      }
    })

    EventBus.$on(this.events.get.recipes, data => {
      this.data.recipes = data.items
      this.total = this.total + 1

      if (this.total === 2) {
        this.xml()
      }
    })

    EventBus.$on(this.events.get.users, data => {
      this.data.users = data.items
      this.total = this.total + 1

      if (this.total === 2) {
        this.xml()
      }
    })
  },

  methods: {
    xml () {
      let string = '<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">'

      this.data.recipes.forEach(function (obj, index) {
        string += '<url>' +
            '<loc>' + 'https://recipebook.rampell.me/recipes/view/' + obj.slug + '</loc>' +
            '<changefreq>daily</changefreq>' +
            '</url>'
      })

      this.data.users.forEach(function (obj, index) {
        string += '<url>' +
          '<loc>' + 'https://recipebook.rampell.me/users/' + obj.id + '</loc>' +
          '<changefreq>daily</changefreq>' +
          '</url>'
      })
      string += '</urlset>'

      this.download(string)
    },

    download (xmltext) {
      console.log('aaa', xmltext)
      xmltext = '<?xml version="1.0" encoding="UTF-8"?>' + xmltext

      const pom = document.createElement('a')
      const filename = 'sitemap.xml'
      const bb = new Blob([xmltext], { type: 'text/plain' })
      pom.setAttribute('href', window.URL.createObjectURL(bb))
      pom.setAttribute('download', filename)
      pom.dataset.downloadurl = ['text/plain', pom.download, pom.href].join(':')
      pom.draggable = true
      pom.classList.add('dragout')
      pom.click()

      return true
    }
  }
}
</script>
