<template>
  <b-form-group>
    <b-form-checkbox-group
      v-model="categoriesId"
      :options="options"
      name="categoriesId"
      @input="onChange"
      stacked
    ></b-form-checkbox-group>
  </b-form-group>
</template>

<script>
import Api from '@/plugins/Api'
import EventBus from '@/plugins/event-bus'
export default {
  props: ['selected', 'eventChange', 'eventLoad', 'filter', 'select', 'object'],
  mixins: [
    Api
  ],
  data () {
    return {
      categoriesId: [],
      options: []
    }
  },
  mounted () {
    this.categoriesId = this.selected
    this.categories()

    EventBus.$on(this.events.get.categories, items => {
      const categories = []

      items.items.forEach(function (obj, index) {
        categories.push({
          value: obj.id,
          text: obj.name
        })
      })

      this.options = categories
    })
  },
  methods: {
    onChange () {
      if (this.eventChange) {
        EventBus.$emit(this.eventChange, this.categoriesId, this.object)
      }
    }
  }
}
</script>
