<template>
  <div id="app" ref="apphola">
    <vue-confirm-dialog></vue-confirm-dialog>
    <div id="nav" v-if="user">
      <b-navbar toggleable="lg" type="dark" variant="primary" class="bg-primary-new">
        <b-navbar-brand href="/">
          Recipe Book
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav >
          <b-navbar-nav>
            <b-nav-item href="/">Les teves receptes</b-nav-item>
            <b-nav-item href="/recipes/new">Nova recepta</b-nav-item>
            <b-nav-item href="/favorites">Les teves preferides</b-nav-item>
            <b-nav-item href="/search">Buscador de receptes</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right class="bg-primary text-white user-menu">
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>{{ user.name }} ({{ user.email }})</em>
              </template>
              <b-dropdown-item @click="logout">Tancar sessió</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div id="nav" v-else>
      <b-navbar toggleable="lg" type="dark" variant="primary" class="bg-primary-new">
        <b-navbar-brand href="/">
          Recipe Book
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav >
          <b-navbar-nav>
            <b-nav-item href="/login">Entrar</b-nav-item>
            <b-nav-item href="/register">Registra't</b-nav-item>
            <b-nav-item href="/search">Buscador de receptes</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view/>
  </div>
</template>

<script>
import './assets/scss/main.scss'
export default {
  computed: {
    isLoggedIn: function () { return this.$store.getters.isLoggedIn }
  },
  mounted () {
    this.user = this.$store.getters.user
  },
  watch: {
    $route: {
      handler: (to, from) => {
        document.title = to.meta.title || 'Recipe Book'
      },
      immediate: true
    }
  },
  data () {
    return {
      user: {}
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
        .then(() => {
          window.location.href = '/'
        })
    }
  }
}
</script>
