<template>
  <v-select v-if="this.options" @input="onChange" v-model="ingredientId" :options="this.options" label="name">
  </v-select>
</template>

<script>
import 'vue-select/dist/vue-select.css'
import vSelect from 'vue-select'
import Api from '@/plugins/Api'
import EventBus from '@/plugins/event-bus'
export default {
  props: ['selected', 'eventChange', 'eventLoad', 'filter', 'select', 'object'],
  mixins: [
    Api
  ],
  components: {
    'v-select': vSelect
  },
  data () {
    return {
      ingredientId: [],
      options: []
    }
  },
  mounted () {
    this.ingredientId = this.selected
    this.ingredients()

    EventBus.$on(this.events.get.ingredients, items => {
      const ingredients = []

      items.items.forEach(function (obj, index) {
        ingredients.push({
          id: obj.id,
          name: obj.name
        })
      })

      this.options = ingredients
    })
  },
  methods: {
    onChange () {
      if (this.eventChange) {
        EventBus.$emit(this.eventChange, this.ingredientId, this.object)
      }
    }
  }
}
</script>
