<template>
  <b-form-select @input="onChange" v-model="unitId" :options="options" size="sm"></b-form-select>
</template>

<script>
import 'vue-select/dist/vue-select.css'
import Api from '@/plugins/Api'
import EventBus from '@/plugins/event-bus'
export default {
  props: ['selected', 'eventChange', 'eventLoad', 'filter', 'select', 'object'],
  mixins: [
    Api
  ],
  data () {
    return {
      unitId: [],
      options: []
    }
  },
  mounted () {
    this.unitId = this.selected ? this.selected.id : null
    this.units()

    EventBus.$on(this.events.get.units, items => {
      const units = []

      items.items.forEach(function (obj, index) {
        units.push({
          value: obj.id,
          text: obj.name
        })
      })

      this.options = units
    })
  },
  methods: {
    onChange () {
      if (this.eventChange) {
        EventBus.$emit(this.eventChange, this.unitId, this.object)
      }
    }
  }
}
</script>
