<template>
  <div>
    <div v-if="user">
      <p class="p-2 m-0 font-weight-bold text-uppercase bg-title">Les receptes de {{ user.name }} <span v-if="pagination && pagination.total" class="badge badge-dark badge-pill">{{ pagination.total }}</span></p>
      <recipes-list type="2" :items="items" :user="user" :sessionUser="sessionUser" :pagination="pagination" :filter="filter" :userId="userId"></recipes-list>
    </div>
  </div>
</template>

<script>
import Api from '@/plugins/Api'
import Components from '@/plugins/components'
import EventBus from '@/plugins/event-bus'
export default {
  mixins: [
    Api,
    Components
  ],
  data () {
    return {
      userId: null,
      sessionUser: null,
      user: null,
      items: [],
      pagination: {},
      filter: {
        _pagination: {
          itemsPerPage: 6,
          page: 1
        }
      }
    }
  },
  created () {
    this.sessionUser = this.$store.getters.user
    this.userId = this.$route.params.id
    this.me(this.userId)
  },
  mounted () {
    EventBus.$on(this.events.get.recipes, data => {
      this.items = this.items.concat(data.items)
      this.pagination = data.pagination
      this.scrollToEnd()
    })

    EventBus.$on(this.events.get.user, (user) => {
      this.recipes(this.userId, this.filter)

      this.user = user
    })
  }
}
</script>
